<!-- sidebar.html -->

<!-- Set the homepage URL dynamically -->
<script src="../../../frontend/config.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const homeLink = document.getElementById('home-link');
        homeLink.href = window.config.baseUrl;
    });
</script>

<div class="sidebar">
    <h2 id="precisionturn" style="color: #2196f3; cursor: pointer;">PrecisionTurn</h2>
  
    <ul>
      <li data-link="index.html"><i class="material-icons">home</i> Home</li>
      <li data-link="views/operational-intelligence/operational-intelligence.html"><i class="material-icons">analytics</i>Ops Intelligence</li>
      <li data-link="views/value-pulse/value-pulse.html"><i class="material-icons">insights</i> Value Pulse</li>
      <li data-link="views/strategic-intelligence/strategic-intelligence.html"><i class="material-icons">dashboard</i> Strategic Intelligence</li>
    </ul>
  
    <div class="separator">TURNAROUND MANAGEMENT</div>
    <ul>
      <li data-link="views/copilot/turnaround-copilot.html"><i class="material-icons">psychology</i> Turnaround Copilot</li>
      <li data-link="views/tasks/tasks-schedule.html"><i class="material-icons">schedule</i> Tasks & Schedule</li>
      <li data-link="views/p-a-m/personnel-assets-management.html"><i class="material-icons">build</i> Personnel & Assets</li>
      <li data-link="views/map/map-view.html"><i class="material-icons">map</i> Map View</li>
    </ul>
  
    <div class="separator">RESOURCES</div>
    <ul>
      <li data-link="views/document/documents.html"><i class="material-icons">description</i> Documents</li>
      <li data-link="views/aihub/ai-agents-hub.html"><i class="material-icons">smart_toy</i> AI Agents Hub</li>
    </ul>
  
    <div class="separator">SYSTEM</div>
    <ul>
      <li data-link="views/settings/settings.html"><i class="material-icons">settings</i> Settings</li>
      <li data-link="views/integrationhub/integration-hub.html"><i class="material-icons">integration_instructions</i> Integration Hub</li>
    </ul>
  </div>