/* sidebar.css */



.sidebar h2 {
    color: #2196f3;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.sidebar li {
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    color: #333;
}

.sidebar li:hover, .sidebar li.active {
    background-color: #e3f2fd;
    color: #2196f3;
}

.sidebar .material-icons {
    margin-right: 10px;
}

.sidebar .separator {
    font-size: 12px;
    font-weight: bold;
    color: #757575;
    padding: 20px 0 10px 10px;
    text-transform: uppercase;
}

#app {
    display: flex;
    width: 100%;
}
