<!-- sidebar.html -->

<!-- Set the homepage URL dynamically -->
<script src="../../../frontend/config.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const homeLink = document.getElementById('home-link');
        homeLink.href = window.config.baseUrl;
    });
</script>

<div class="sidebar">
    <h2 style="color: #2196f3;">PrecisionTurn</h2>
    <ul>
        <li id="homeLink" data-link="index.html">
            <i class="material-icons">dashboard</i>
            Dashboard
        </li>
        <li data-link="views/copilot/turnaround-copilot.html">
            <i class="material-icons">psychology</i>
            Turnaround Copilot
        </li>
        <li data-link="views/tasks/tasks-schedule.html">
            <i class="material-icons">schedule</i>
            TasksSchedule
        </li>
        <li data-link="views/p-a-m/personnel-assets-management.html">
            <i class="material-icons">build</i>
            Personnel & Assets Management
        </li>
        <li data-link="views/document/documents.html">
            <i class="material-icons">description</i>
            Documents
        </li>
        <li data-link="views/analytics/analytics.html">
            <i class="material-icons">analytics</i>
            Analytics
        </li>
        <li data-link="views/map/map-view.html">
            <i class="material-icons">map</i>
            Map View
        </li>
        <li data-link="views/aihub/ai-agents-hub.html">
            <i class="material-icons">smart_toy</i> AI Agents Hub
        </li>
        <li data-link="views/settings/settings.html">
            <i class="material-icons">settings</i>
            Settings
        </li>
        <li data-link="views/integrationhub/integration-hub.html">
            <i class="material-icons">integration_instructions</i>
            Integration Hub
        </li>
    </ul>
</div>